
/* SECTION */
.features {
  padding: 70px 0px; /* reduced top spacing */
  background: #fff;
  font-family: 'Urbanist', sans-serif;
}

/* SUBTITLE */
.subtitle{
  color:black;
  font-size: var(--fs-h3);
  font-weight:600;
  letter-spacing:1px;
  text-align:center;
  margin-bottom:6px;
}

/* TITLE */
.title{
  font-size: 36px;
  font-weight:700;
  color:#3b6ff5;
  text-align:center;
  margin-bottom:60px;
}

/* GRID */
.features-grid {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.feature-card {
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 50px 35px;
  text-align: center;
  position: relative;
  min-height: 250px; /* ✅ reduced from 330px */
  transition: all 0.35s ease;
  cursor: pointer;
  overflow: hidden;
}

/* HOVER EFFECT */
.feature-card:hover {
  border: 2px solid #3b6ff5;
  border-top-right-radius: 60px;
  transform: translateY(-6px);
}

/* BADGE */
.feature-card .badge {
  position: absolute;
  top: -1px;
  left: 25px;
  width: 28px;
  height: 40px;
  background:#3b6ff5;
  color: white;
  font-size: 15px;
  font-weight: 800;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 4; */
  
}

/* ICON CONTAINER */
.icon-circle {
  width: 70px;
  height: 70px;
  background: #eef6ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 25px;
  color: #3b6ff5;
  transition: all 0.35s ease;
}

/* ICON SIZE */
.icon-circle svg {
  font-size: 28px;
  color: #3b6ff5;
  transition: all 0.35s ease;
}

/* ICON HOVER EFFECT */
.feature-card:hover .icon-circle {
  background: #3b6ff5;
  transform: scale(1.1);
}

.feature-card:hover .icon-circle svg {
  color: #fff;
}

/* TITLE */
.card-title {
  font-size: 18px !important; 
  font-weight: 700;
  margin-bottom: 12px;
  color: #3b6ff5 !important;
}

/* DESCRIPTION */
.card-desc {
  font-size: 16px;
  text-align: justify;
  word-spacing: -1px;
  hyphens: auto;
  font-weight: 500;
  margin-top: 20px;
  color: rgb(87, 86, 86);
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .features-grid {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .features-grid {
    grid-template-columns: 1fr;
  }
}